.navbarbg{
    background-color: rgb(227, 210, 194);
}
.text{
    background-color: lightpink;
}
.bg-wacth{
  height: 191px;
  width: auto;
}
.bg-flower{
  height: 200px;
  width: 150px;
}
.bg-bear{
  height: 198px;
  width: auto;
}
.bg-bear1{
  height: 190px;
  width: auto;
}
.bg-wacth1{
  height: 200px;
  width: auto;
}
.back1{
  background-color: rgb(84, 25, 160);
}